

h1{
    color: rgb(80, 157, 160);
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: rgb(56, 137, 139);
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}