
.account{
    width: 743px;
    background-color: rgb(18, 247, 67);
}
.details {
    width: 743px;
    background-color: rgb(159, 219, 247);
}
.Review{
    width: 743px;
    background-color: rgb(190, 188, 188);
}